*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
hr{
    margin: 15px auto;
}
h1{
    margin: 20px auto;
    padding: 0;
}
.wrapper{
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    align-items: center;
}
.form{
    display: block;
    background:darkgrey;
    width: 100%;
    padding: 15px;
    box-shadow: 4px 4px 8px 0 lightgrey;
}
.label, .label_xl{
    font-size: 22px;
    display: inline-flex;
    margin: 10px 30px 10px 410px;
    width: 100px;
}
.label_xl{
    margin-left: 10px;
}

.inputs, .inputs_xl{
    padding: 10px 20px;
    font: 100 18px Monospace;
    width: 200px;
    margin: 2px 0;
}
.inputs_xl{
    width: 600px;
}
#fax_file{
    margin-left: -20px;
}
#fax_text{
    padding-bottom: 15px;
}
#send_to{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    color:cornsilk;
}
#send_to a {
    margin: 0 10px;
    color:cornsilk;
}
.button{
    width: 300px;
    margin: 20px auto 10px;
    padding: 10px 20px;
    font-size: 20px;
    display: block;
    border-radius: 3px;
}
.button:hover{
    cursor: pointer;
}
table{
    font-size: 17px;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 4px 4px 8px 0 lightgrey;

}
thead{
    background: darkgrey;
}
caption{
    padding: 10px;
    font-size: 22px;
}
th, td {
    padding: 8px;
    text-align: center;
    border: 1px dotted black;
    background: #a9a9a92b;
}
tr:hover{
    background: darkgrey;
}
.bis{
    width: 350px;
}
.row{
    display: flex;
    width: 100%;
}
.space_around{
    width: 100%;
    justify-content: space-around;
    padding: 5px;
    background: beige;
    box-shadow: 4px 4px 8px 0 lightgrey;
}
.space_around p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.hidden{
    display: none;
}
.active{
    display: flex;
    background: #a9a9a92b;
    flex-direction: column;
    padding: 15px;
}
.list{
    flex-direction: column;
    list-style: none;
}

.title img{
    width: 20px;
    margin-right: 7px;
}
.title a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: flex-end;
}
.title a:hover{
    text-decoration: underline;
}
.title{
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 7px;
    display: flex;
    align-items: flex-end;
}
h3{
    margin: 10px auto;
}
.fin{
    margin-left: 10px;
    background: darkgrey;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px 10px;
    white-space: nowrap;
    height: fit-content;
}
.grab{
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px dotted black;
    border-radius: 5px;
    padding: 2px;
}
.line_p{
    font-weight: 100;
    margin-left: 16px;
}
.list_itm{
    border-bottom: 1px dotted black;
}